.ipynb_checkpoints/
.virtual_documents/
*.zip
*.rlbcoor
*.pkl
conformer_generator.*
output*

01_CSD_Search/aryl_sulphonamide.csv

04_Conformer_generation/ci500358p.pdf
04_Conformer_generation/superimposed/
04_Conformer_generation/conformers.sdf
04_Conformer_generation/minimised.mol2

06_Interaction_maps/2UW7/
06_Interaction_maps/A_GVP1351.mol
06_Interaction_maps/A_GVP1351/

07_Cavities/cavities.db
07_Cavities/cavity.py
07_Cavities/cavity.rlbcoor
07_Cavities/overlaid_via_cavities.pdb
07_Cavities/overlaid_via_sequence.pdb

08_Docking/input_files/input.mol2
08_Docking/input_files/input.sdf
08_Docking/parameter_tests/
08_Docking/target_prep
08_Docking/Hermes

09_Covalent_Docking/complexes/
09_Covalent_Docking/test.mol
09_Covalent_Docking/input.mol2
09_Covalent_Docking/input.sdf
09_Covalent_Docking/output_substructure/
09_Covalent_Docking/output_atom/
09_Covalent_Docking/complexed_atom.mol2
09_Covalent_Docking/complexed_substructure.mol2
09_Covalent_Docking/complexes_atom/
09_Covalent_Docking/complexes_substructure/